body {
    background-color: white;
      
  }
  .rectangle {
    width: 300px;
    height: 300px;
    background-color: red;
    
    }.rectangle {
      border: 2px solid black;
      border-radius: 40px;
      padding: 5px;
    }
    div.rectangle {
      position: fixed ; /* or absolute */
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }